#menu>label{
    display: flex;
    flex-direction: column;
}
#menu{
  display: block;
margin-left: 40%;;
  width:300px;
  background-color: rgb(160, 230, 21);
  border: 5px solid green;
}

#container{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns:repeat(1,1fr) ;
  gap:10px;
  justify-content: center;
  font-size: 40px;
  margin-top: 10%;
  margin-left: 30%;
  

}
#container img{
    width:600px;
    height:500px;
}
#data{
  display: flex;
  margin: 10px;;
}
#button{
  margin-left:35%;
}