#navbar{
    display: flex;
    justify-content: space-between;
    margin: 1% 5% 0% 5%;
    font-size: 25px;
    
}
a{
    text-decoration: none;
}
#left{
    display: flex;
    float:left;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 20px;
    
}
table{
    margin-left:250px;
}
body{
    margin:auto;
    width:90%
}