.about-bg {
  background:#191919;
  width: 100%;
 

}
.about-bg h1 {
  text-align: center;
   padding-top:30px;
  color: #26a1da;
  font-size: 3rem;
  font-weight: 500;
 
}
.about-section {
  display: flex;
  margin: 0rem 2rem;
  padding: 2rem;
  /* border: 3px solid black; */
}
.about-section .para p {
  color: white;
  font-size: 1.5rem;
  line-height: 40px;
  margin: 1rem 2rem;
}
.para  p {
  text-align: center;
  padding-top:10%;
  padding-right: 1%;


}
.profile-img img {
  width: 350px;
  border: 6px solid #131212;
  border-radius: 50%;

  margin: 5.6rem 2rem;
}

.clear {
  height: 3.5rem;
}

@media only screen and (max-width: 1068px) {
  .about-section {
    text-align: center;
    display: block;
    margin: 0;
    padding: 2rem;
  }
}
@media only screen and (max-width: 768px) {
  .profile-img img {
    width: 230px;
    margin: 0;
  }
  .about-section {
    border: none;
  }
  .about-section .para p {
    color: white;
    font-size: 1.1rem;
    line-height: 40px;
    margin: 1rem 1rem;
  }
}

@media only screen and (max-width: 468px) {
  .profile-img img {
    width: 250px;
    margin: 0;
  }
}
