.home__bg {
   /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
   background: linear-gradient(
    -45deg,
   
    
    /* #8946A6,
    #B762C1,
    #EA99D5,
    #FFCDDD,
    #D3DEDC,
    #92A9BD,
    #7C99AC,
    #FFEFEF,
    #1A374D,
    #406882,
    #6998AB,
    #B1D0E0,
    #F2789F,
    #F999B7,
    #F9C5D5,
    #FEE3EC
 */
 #22181b


    
);
background-size: 400% 400%;
animation: gradient 10s ease-in infinite;
height: 100vh;
}


@keyframes gradient {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
  
}
li.nav__items {
  font-size: 24px;
  padding-bottom: 5px;
  margin: 0px 2rem;
}
.home__content {
  padding: 10px 0px;
}
h1.home__text {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 3px;
  color: rgba(198, 201, 216, 0.75) !important;
}
h2.home__text {
  font-size: 54px;
  line-height: 54px;
  font-weight: 800;
  font-family: Montserrat, sans-serif;
}
h3.home__text {
  font-size: 50px;
  font-weight: 800;
  font-family: Montserrat, sans-serif;
  line-height: 40px;
}

.header {
  transition: 0.4s all ease;
}
.header.active {
  position: fixed;
  z-index: 1000;
  width: 100%;
  padding: 0px 30px;
  background-color:  #191919;
}

.toggle__menu {
  display: flex;
  justify-content:flex-end;
  z-index: 1000;
  width: 100%;
}
.logo i {
  font-size: 60px;
  color: #11d483;
}
ul.sidebar.d__flex {
  flex-wrap: wrap;
 
  height: 100%;
  position: fixed;
  right: 0%;
  background: #010101;
  justify-content: right;
  width: 300px;
  top: 0%;
  flex-direction: column;
}
li.sideNavbar {
  padding: 25px 30px;
}

.home__content {
  display: inline-flex;
 
}
/* code start */

.home__meta {
  margin: 6rem 5rem;
}
.resume-option button {
  width: 200px;
  margin: 2rem 0px;
  cursor: pointer;
}

.ul-li .d__flex {
  margin-left: 18rem
  
}


.home__meta p {
  color: rgb(12, 70, 197);
  font-size: 2rem;
}

.home-center {
  text-align: center;
}
.nav__items:hover {
  color: #006cf9;
}
/* RESPONSIVE */

.toggle__menu {
  display: none;
}
.sideNavbar {
  display: none;
}

@media only screen and (max-width: 1268px) {
  .home__meta {
    margin: 2rem 5rem;
  }
  .ul-li .d__flex {
    margin-left: 0;
  }
}

@media only screen and (max-width: 868px) {
  .home__meta {
    margin: 2rem 5rem;
  }
  .home__content {
    display: block;
    width: 600px;
    margin: auto;
  }
  h2.home__text.pz__10 {
    font-size: 30px;
    margin: 0;
    padding: 0;
  }
  h3.sweet.pz__10 {
    font-size: 30px;
    margin: 0;
    padding: 0;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    justify-content: space-between;
  }

  .home__content {
    display: block;
    width: 600px;
    margin: auto;
  }

  .home__meta {
    text-align: center;
    margin: 0;
    padding: 2rem;
  }

  .toggle__menu {
    display: flex;
    justify-content: flex-end;
  }
  .home {
    width: 100%;
  }
  .sideNavbar {
    display: flex;
  }
  .navigation.pxy__30 {
    display:none;
  }

  svg.bi.bi-justify.white.pointer {
    width: 30px;
    height: 30px;
  }
  .home__meta {
    text-align: center;
  }
  h2.home__text.pz__10 {
    font-size: 38px;
  }
  h3.sweet.pz__10 {
    font-size: 45px;
  }
}

@media only screen and (max-width: 625px) {
  .home__content {
    display: block;
    width: 100%;
  }
  h2.home__text.pz__10 {
    font-size: 25px;
  }
  h3.sweet.pz__10 {
    font-size: 30px;
  }
  .logo i {
    font-size: 40px;
    color: #11d483;
  }
}

@media only screen and (max-width: 420px) {
  .home__meta p {
    color: white;
    font-size: 0.8rem;
  }
  .home {
    width: 100%;
  }
}
