.about {
  background: #191919;
}

h1.about__heading {
  margin-bottom: 10px;
  font-weight: 700;
  text-align: start;
  font-family: Montserrat, sans-serif;
  font-size: 60px;
  padding-top:4%;
}
button.about.btn.pointer {
  text-transform: capitalize;
  width: 195px;
  height: 55px;
  font-size: 18px;
  transition: 0.4s ease;
}
.about__button {
  padding: 20px 0px;
}
a.bottom__to__top {
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 3%;
  right: 2%;
  background-color: #26a1da;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  transition: 0.4s all ease;
  z-index: 1000;
}
a.bottom__to__top.active {
  display: flex;
}

.tagline {
  margin: auto;
}
.tagline h1 {
  text-align: center;
  color: #26a1da;
  font-size: 3rem;
  font-weight: 500;
}
.tech-stack {
  width: 90%;
  margin: 3rem auto;
}
.tech-section {
  display: inline-flex;
  width: 100%;
}
.tech-stack .center {
  display: inline-block;
  text-align: center;
}

.tech-stack .right {
  width: 100%;
}

.tech-stack .right h2 {
  font-size: 1.8rem;
  margin: 1rem 0;
  color: white;
}

.tech-stack .right img {
  margin: 0rem 1.5rem;
}
.icon-name {
  display: inline-block;
  border: 1px solid #26a1da;
  margin:0.5rem;
  border-radius: 5%;
  padding: 1.5rem;
  text-align: center;
}
.icon-name:hover {
  background-color: #3d3338;
  color: aliceblue;
}
.icon-name p {
  color: #f9004d;
  font-size: 20px;
}

/* RESPONSIVE */
@media only screen and (max-width: 784px) {
  .p__color {
    font-size: 15px !important;
  }
  .tech-section {
    display: inline-block;
  }
  .tech-stack .right .center {
  }
  .icon-name {
    margin: 0.5rem;
    width: 170px;
   
  }
  .tech-stack .right img {
    width: 70px;
  }
  .icon-name p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 425px) {
  button.about.btn.pointer {
    text-transform: capitalize;
    width: 165px;
    height: 50px;
    font-size: 13px;
    transition: 0.4s ease;
  }
  .icon-name {
    margin: 0.5rem;
    width: 140px;
  }
  .tech-stack .right img {
    width: 50px;
  }
  .two {
    display: grid;
    grid-template-columns: auto auto;
  }
}
@media only screen and (max-width: 325px) {
  .icon-name {
    margin: 0.5rem;
    width: 120px;
  }
  .tech-stack .right img {
    width: 30px;
  }
}

@media only screen and (max-width: 225px) {
  .two {
    display: grid;
    grid-template-columns: auto;
  }
}

