
.App{
  
  display: flex;
  flex-direction: column;
  }
  
  .App>.inputForm{
    display: flex;
    flex-direction: column;
    margin: 0% 70% 0% 5%;
    
  }
  .App>.inputForm>input,select{
    width:300px;
    height: 30px;
  }

  .cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: min-content
    ;
    gap:10px;
    
  }
  .list{
    border:1px solid black;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  }