
.App{
  
  display: flex;
  flex-direction: column;
  }
  
  .App>.inputForm{
    display: flex;
    flex-direction: column;
    margin: 0% 70% 0% 5%;
    
  }
  .App>.inputForm>input,select{
    width:300px;
    height: 30px;
  }

  .cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
  }
  .list{
    border:1px solid black;
    text-align:center;
  }